* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}
.text-title{
  text-align: center;
}

header {
  background: url("../Assets/Hero-bg.png") no-repeat center center/cover;
}

.container{
   width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
/* navber style */

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  font-size: 34px;
  font-weight:900;
  color: rgba(78, 71, 255, 1);

}

.btn-primary{
  background-color: rgba(78, 71, 255, 1);
  padding: 12px 36px;
  color: white;
  border-radius: 12px;
  border: none;
}
section{
  padding: 158px 0;
}


.banner {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.banner-title {
  color: rgb(37, 36, 50);
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 37px;
}

/* action-style */

.action-part{
  display: flex;
  justify-content: space-between;
  gap: 220px;
}
.action-content{
  margin:60px ;
}
.action-text-title{
  color: rgb(37, 36, 50,1);
  font-size: 42px;
  font-weight: 700;
}
.action-description{
   color: rgba(37, 36, 50, 0.5);
  font-size: 24px;
  font-weight: 400;
   margin: 23px 0;
}
img{
  width: 100%;
}

.action-img-part img{
  border-radius: 48px;
}


.productive-text-title{
  color: rgb(37, 36, 50,1);
  font-size: 38px;
  font-weight: 700;
  text-align: center;
}

.productive-part{
  border-radius: 24px;
  background: rgba(78, 71, 255, 0.1);
}
.productive-contents{
  display: flex;
  justify-content: space-evenly;
}
.user{
  padding: 50px 0;
  text-align: center;
}
.user h2{
  font-size:80px ;
  font-weight: 700px;
  color:rgb(78, 71, 255) ;
}


.review-info{
  display: flex;
  align-items: center;
  gap: 10px;
}
.review-info img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.fa-star{
  color: rgb(255, 204, 0);
}
.feedback-content{
   display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.stars{
  margin-top: 50px;
  border-radius: 24px;
  background:  rgba(78, 71, 255, 0.1);
  padding: 20px;
}
.review-title {
  margin: 20px 0;
}
.review-info{
   margin: 20px 0;
}